<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>后台管理系统</title>
  </head>
  <body>
    <div class="page">
      <% include  components/top.inc.ejs %>
      <div class="content_wrap">
        <div>
          <form action="?" method="post">
            标题：<input type="text" name="title"/><br>
            描述：<textarea name="description" cols="30" rows="10">
            </textarea><br>
            链接：<input type="text" name="href"/><br>
            <input type="submit" value="添加" />
          </form>
        </div>


        <table width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>标题</th>
              <th>描述</th>
              <th>链接</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i< banners.length; i++) { %>
              <tr>
                <td><%= banners[i].ID %></td>
                <td><%= banners[i].title %></td>
                <td><%= banners[i].description %></td>
                <td><%= banners[i].href %></td>
                <td>
                  <a href="?act=mod&id=<%= banners[i].ID %>">编辑</a>
                  <a href="?act=del&id=<%= banners[i].ID %>" onclick="return confirm('确定删除?')">删除</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>

        <% if(typeof mod_data != 'undefined' ){ %>
        <div>
          <form action="?" method="post">
            <input type="hidden" name="mod_id" value="<%= mod_data.ID %>"/>
            标题：<input type="text" name="title" value="<%= mod_data.title %>"/><br>
            描述：<textarea name="description" cols="30" rows="10">
              "<%= mod_data.description %>"
            </textarea><br>
            链接：<input type="text" name="href" value="<%= mod_data.href %>"/><br>
            <input type="submit" value="修改" />
          </form>
        </div>
        <% } %>



      </div>
    </div>
  </body>
</html>
